
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-8 col-lg-offset-4">
            <h2>Change Password</h2>
        </div>
    </div>
    <form name="form" role="form" novalidate>
        <div class="row">
            <div class="col-md-4 well col-lg-offset-4">
                

                <input-text-edit label="Old Password" name="oldpassword" password required minlength="6"></input-text-edit>
               
                <input-text-edit label="New Password" name="newpassword" password required minlength="6" ></input-text-edit>

                <input-text-edit label="Confirm Password" name="confirmPassword" minlength="6" password  required ng-match="model.newpassword" ng-model="model.confirmPassword"></input-text-edit>

                <button class="btn btn-primary btn-block" ng-disabled="form.$invalid" ng-click="changePassowrd(model)">Change</button>
            </div>
        </div>
    </form>
</div>