<div class="container">
	<div class="row">
		 <div class="col-md-8 col-lg-offset-4">
			 <h2>Forgot Password?</h2>
		 </div>
	</div>
	<form name="form" role="form" novalidate>
		<div class="row">
			<div class="col-md-4 well col-lg-offset-4">

				 <input-text-edit placeholder="Email" name="email" email required></input-text-edit>

				<div class="form-group">
					<button class="btn btn-primary btn-block" ng-disabled="form.$invalid" ng-click="forgotPassword(model)">Send</button>
				</div>
			</div>
		</div>
	</form>
</div>