
<div class="container">
	<div class="row">
		 <div class="col-md-8 col-lg-offset-4">
			 <h2>Reset Password</h2>
		 </div>
	</div>
	<form name="form" role="form" novalidate>
		<div class="row">
			<div class="col-md-4 well col-lg-offset-4">
				 <input-text-edit placeholder="Email" name="email" email required></input-text-edit>

				 <input-text-edit name="password" password required placeholder="Password" minlength="6"></input-text-edit>

                 <input-text-edit placeholder="Confirm Password" name="confirmPassword" minlength="6" password ng-match="model.password" ng-model="model.confirmPassword" required></input-text-edit>

				<button class="btn btn-primary btn-block" ng-disabled="form.$invalid" ng-click="resetPassword(model)">Reset</button>
			</div>
		</div>
	</form>
</div>