<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Verification</h3>
            </div>
            <div class="panel-body" ng-class="response.success ? 'alert-success' : 'alert-danger' ">
                <h3>{{response.message}}</h3>
            </div>

            <div class="form-group" ng-if="response.success">
                <a class="btn btn-link" ui-sref="login">go to login</a>
            </div>
        </div>
    </div>
</div>
