
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-6 panel panel-default">
            <fieldset>
                <legend>Search</legend>
                <div class="form-group col-lg-12">
                    
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a ui-sref="tagEdit({id:0})" style="float: right" class="btn btn-success"> <i class="glyphicon glyphicon-plus"></i>Add</a>
        </div>
        <br />
        <div class="col-lg-12">
            <br />
            <div ng-grid="ngGridView" class="gridStyle"></div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->