.ngViewport {
  overflow: auto;
  min-height: 200px;
}
input[type="text"].ng-invalid-date {
    border: 1px solid red !important;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 400px;
}
.activeView{
    background-color: #eee;
     color: #23527c;
}

/* ====== ====== */

.ta-editor.form-control.myform2-height, .ta-scroll-window.form-control.myform2-height  {
    height: 1024px;
    min-height: 1024px;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}
.form-control.myform2-height > .ta-bind {
    min-height: 1024px;
    padding: 6px 12px;
}